In [4]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:,.2f}'.format

sales_df = pd.read_csv('sales_data.csv')
sales_df = sales_df.set_index('customer_id')
sales_df.head()

             total_buy_cnt  total_price
customer_id
12395                   99       430250
12427                   98       566410
12431                  122       849900
12433                  625      1180950
12471                   10        97750