In [2]:
import pandas as pd
from sklearn.cluster import KMeans

pd.options.display.float_format = '{:,.2f}'.format

scaled_df = pd.read_csv('scaled_data.csv')

In [3]:
scaled_df.head()

   customer_id  total_buy_cnt  total_price
0        12395          -0.05        -0.15
1        12427          -0.07         0.21
2        12431           0.23         0.95
3        12471          -1.13        -1.02
4        12472          -0.19         0.21